AddDefaultCharset utf-8

AuthType Basic
AuthName "Плиз залогиньтесь"
AuthUserFile /var/www/books.loc/admin/.htpasswd
Require valid-user
<Files .htpasswd>
   deny from all  #запрет доступа из браузера к .htpasswd
</Files>
RewriteEngine On
RewriteRule ^(.*)$ /public/admin/$1
